name: BOB_Client_CI

on:
  push:
    branches: [develop]
  pull_request:
    branches: [develop]


jobs:
  deploy:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout source code
        uses: actions/checkout@master

      - name: Cache node modules
        uses: actions/cache@v1
        with:
          path: node_modules
          key: ${{ runner.OS }}-build-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.OS }}-build-
            ${{ runner.OS }}-
 
      - name: Install Dependencies
        run: |
          cd bob_client
          npm install
 
      - name: Build
        run: |
          cd bob_client
          npm run build
        env:
          CI: ''
          SERVER_BASE_URL: ${{ secrets.SERVER_BASE_URL }} 
 
      - name: Deploy
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        run: |
          cd bob_client
          aws s3 cp \
            --recursive \
            --region ap-northeast-2 \
            dist s3://bobclient
      
